@using Microsoft.AspNetCore.Identity
@using betriebsmittelverwaltung.Areas.Identity.Data
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{ var user = await UserManager.GetUserAsync(User);}
@{ var roles = await UserManager.GetRolesAsync(user);}
@{ ViewData["Title"] = "Startseite"; }

<h2>Willkommen, @user.ForeName @user.LastName (@roles[0])</h2>
<h4>Was möchtest du tun?</h4>
<hr />

@if (SignInManager.IsSignedIn(User))
{



    <div class="row">
        @if (roles[0] == "Admin" || roles[0] == "Bauleiter")
        {
            <div class="col-md-3">
                <div class="menuCard">
                    <div class="menuCardContainer">
                        <button id="btn" onclick="location.href='@Url.Action("Index", "ConstructionSites")'">Baustellenverwaltung</button>
                    </div>
                </div>
            </div>
        }
        <div class="col-md-3">
            <div class="menuCard">
                <div class="menuCardContainer">
                    <button id="btn" onclick="location.href='@Url.Action("Index", "Orders")'">Auftragsverwaltung</button>
                </div>
            </div>
        </div>
        @if (roles[0] == "Admin" || roles[0] == "Lagerist")
        {
            <div class="col-md-3">
                <div class="menuCard">
                    <div class="menuCardContainer">
                        <button id="btn" onclick="location.href='@Url.Action("Index", "Returns")'">Retourenverwaltung</button>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="menuCard">
                    <div class="menuCardContainer">
                        <button id="btn" onclick="location.href='@Url.Action("Index", "Resources")'">Bestandsverwaltung</button>

                    </div>
                </div>
            </div>

        }
        @if (roles[0] == "Admin")
        {
            <div class="col-md-3">
                <div class="menuCard">
                    <div class="menuCardContainer">
                        <button id="btn" onclick="location.href='@Url.Action("Index", "User")'">Nutzerverwaltung</button>
                    </div>
                </div>
            </div>}
    </div>
}