@model AWE_Projekt.Models.ConstructionSite

@{
    ViewData["Title"] = "Details";
}
<h3>Baustellenverwaltung</h3>
<h4>@ViewData["Title"]</h4>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Anpassen</a> |
    <a asp-action="Index">Zurück zur Liste</a>
</div>
