@using Microsoft.AspNetCore.Identity
@using betriebsmittelverwaltung.Areas.Identity.Data
@model AWE_Projekt.Models.ConstructionSite

@{
    ViewData["Title"] = "Details";
}
@inject UserManager<User> UserManager;
<h3>Baustellenverwaltung</h3>
<h4>@ViewData["Title"]</h4>

<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        @{
            var user = await UserManager.GetUserAsync(User);
        }

        <dt>
            @Html.DisplayNameFor(model => model.Manager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manager.ForeName) @Html.DisplayFor(model => model.Manager.LastName)
        </dd>

    </dl>

</div>
@{
    var res = (List<AWE_Projekt.Models.Resource>)ViewData["Resources"];
}

<a class="btn btn-sm btn-default" asp-controller="Orders" asp-action="Create" asp-route-constructionSiteId="@Model.Id">Neuen Antrag für Betriebsmittel erstellen</a>
@if (res.Count != 0)
{
    <table class="table table-bordered">
        <thead>
        <th>
            Ressource
        </th>
        <th>
            Optionen
        </th>
        </thead>
        <tbody>


            @foreach (var item in res)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        @if ((bool)ViewData["alreadyReturned"])
                        {
                            <span>Resource wurde zur Retoure freigegeben.</span>
                        }
                        else
                        {
                            <a class="btn btn-sm btn-default" asp-controller="Returns" asp-action="Create" asp-route-constructionSiteId="@Model.Id" asp-route-id="@item.Id">Retour</a>

                        }
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h4>Keine Ressource eingetragen.</h4>
}


<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Anpassen</a> |
<a asp-action="Index" class="btn btn-default">Zurück zur Liste</a>
</div>
