@using Microsoft.AspNetCore.Identity
@using betriebsmittelverwaltung.Areas.Identity.Data
@model AWE_Projekt.Models.ConstructionSite

@{
    ViewData["Title"] = "Baustelle";
}
@inject UserManager<User> UserManager;
<h3>Baustellenverwaltung</h3>
<h4>@ViewData["Title"]</h4>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        @{
            var user = await UserManager.GetUserAsync(User);
        }

        <dt>
            @Html.DisplayNameFor(model => model.Manager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manager.ForeName) @Html.DisplayFor(model => model.Manager.LastName)
        </dd>

    </dl>

</div>
@{
    var res = (List<AWE_Projekt.Models.Resource>)ViewData["Resources"];
}

@if (res.Count != 0)
{
    <table>
        <thead>
        <th>
            Ressource
        </th>
        <th>
            Optionen
        </th>
        </thead>
        <tbody>


            @foreach (var item in res)
            {
            <td>@item.Name</td>
            <td>Optionen</td>
        }
            </tbody>
        </table>
    }
    else
    {
        <h4>Keine Ressource eingetragen.</h4>
    }


    <a asp-action="Edit" asp-route-id="@Model.Id">Anpassen</a> |
    <a asp-action="Index">Zurück zur Liste</a>
</div>
