@model AWE_Projekt.Models.Return

@{
    ViewData["Title"] = "Details";
}
<h3>Retourenverwaltung</h3>
<h4>@ViewData["Title"]</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CheckIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CheckIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReturnStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReturnStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Creator)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Anpassen</a> |
    <a asp-action="Index" class="btn btn-default">Zurück zur Liste</a>
</div>
